/* Roots
========================================================================== */
/*
 * Global Fonts and Colors ---------
 * Font: 'Azeret Mono', monospace
 * Primary Color: #0D1321
 * Text Color: #0D1321
 * Others:
 */

:root {
    --content-width: 1140px;
    --gap: 20px;
    --column-padding: 10px;

    --primary-color: #0d1321;
    --text-color: #0d1321;

    --primary-font: 'Azeret Mono', monospace;
}

/* Global CSS Style
========================================================================== */
* {
    transition: all 0.2s;
    font-family: var(--primary-font);
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

/*
 * Text Styles ---------
*/
.heading {
    color: var(--text-color);
    line-height: 1.4em;
    margin: 0;
}

h1.heading {
    font-size: 48px;
}

h2.heading {
    font-size: 32px;
}

h3.heading {
    font-size: 24px;
    opacity: 0.7;
}

p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.8em;
    margin: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

ul {
    margin: 0;
}

.button-global {
    font-size: 20px;
    padding: 17px 24px;
    border: 1px solid var(--text-color);
    border-radius: 8px;
    opacity: 0.8;
    cursor: pointer;
}

.button-white {
    background: white;
}
.button-white:hover {
    background: black;
    color: white;
    opacity: 1;
}

.button-black {
    background: var(--primary-color);
    color: white;
    opacity: 1;
}
.button-black:hover {
    background: white;
    color: var(--text-color);
}

.button-square {
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px;
    border: 1px solid var(--text-color);
    opacity: 0.7;
    cursor: pointer;
}
.button-square:hover {
    background: black;
    color: white;
    opacity: 1;
}

/*
 * Sections and columns Structure ---------
 */
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: var(--content-width);
    margin: 0 auto;
}

.row-full {
    max-width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex: initial;
    width: 100%;
    max-width: var(--content-width);
    gap: var(--gap);
    padding: var(--column-padding);
}

/* 
 * Heaader CSS ---------
 */

header .row {
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

header .logo-text {
    font-size: 28px;
    font-weight: 800;
}

/* 
 * Main Body CSS ---------
 */

/* Hero Section */
.hero {
    justify-content: center;
    background: url(../assets/Hero-bg.png);
    min-height: 800px;
}

.hero > .column {
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.hero .hero-img {
    width: 240px;
}

.hero .hero-heading {
    text-align: center;
    max-width: 998px;
}

.hero .hero-text {
    text-align: center;
    max-width: 852px;
}

.hero button {
    margin-top: 10px;
}

/* Why Web Dev && My Inspiration Section */
.why-web {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 900px;
    margin: auto;
    gap: 100px;
}

.why-web .intro,
.inspiration .intro {
    align-items: center;
}
.why-web .intro .heading,
.inspiration .intro .heading {
    text-align: center;
}
.why-web .intro p,
.inspiration .intro p {
    text-align: center;
    max-width: 852px;
}

.why-web .about {
    gap: 40px;
}

.why-web .about .col-1.detail {
    width: 70%;
}
.why-web .about .col-2.img-container {
    width: 30%;
}

.why-web .about p {
    max-width: 468px;
}

.why-web .about button {
    margin-top: 10px;
}

.why-web .about img {
    width: 260px;
    align-self: end;
}

.why-web .about-reverse {
    flex-direction: row-reverse;
}

.why-web .about-reverse img {
    align-self: start;
}
