/* Roots
========================================================================== */
/*
 * Global Fonts and Colors ---------
 * Font: "Azeret Mono", monospace
 * Primary Color: #0D1321
 * Text Color: #0D1321
 * Others:
 */

:root {
    --content-width: 1140px;
    --gap: 30px;
    --column-padding: 10px;

    --primary-color: #0d1321;
    --text-color: #0d1321;
}

/* Global CSS Style
========================================================================== */
* {
    transition: all 0.2s;
    font-family: 'Azeret Mono', monospace;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*
 * Text Styles ---------
*/
.heading {
    color: var(--text-color);
    line-height: 1.4em;
    margin: 0;
}

h1.heading {
    font-size: 48px;
}

h2.heading {
    font-size: 32px;
}

.sub-heading {
    color: var(--primary-color);
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
}

p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.8em;
    margin: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

ul {
    margin: 0;
}

.button-global {
    font-size: 20px;
    padding: 17px 24px;
    border: 1px solid var(--text-color);
    border-radius: 8px;
    opacity: 0.8;
    cursor: pointer;
}

.button-white {
    background: white;
}
.button-white:hover {
    background: black;
    color: white;
}

.button-black {
    background: var(--primary-color);
    color: white;
    opacity: 1;
}
.button-black:hover {
    background: white;
    color: var(--text-color);
}

/*
 * Sections and columns Structure ---------
 */
.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: var(--content-width);
    margin: 0 auto;
}

.row-full {
    max-width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex: initial;
    width: 100%;
    max-width: var(--content-width);
    gap: var(--gap);
    padding: var(--column-padding);
}

/* 
 * Heaader CSS ---------
 */

header .row {
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

header .logo-text {
    font-size: 28px;
    font-weight: 800;
}

/* 
 * Main Body CSS ---------
 */

/* Hero Section */
.hero {
    background: url(../assets/Hero-bg.png);
    min-height: 85vh;
}

.hero > .column {
    justify-content: center;
    align-items: center;
}

.hero .hero-img {
    width: 240px;
}

.hero .hero-heading {
    text-align: center;
    max-width: 998px;
}

.hero .hero-text {
    text-align: center;
    max-width: 852px;
}

.hero button {
    margin-top: 10px;
}
